.optionsCont > div {
    margin: 16px;
}

.wrapper-indicator{
    position:relative;
    height:1.5rem;
    width:1.5rem;
    overflow:none;
  }
  .wrapper-indicator .up,.wrapper-indicator .down{
    position:absolute;
    right: 0;
    font-size:.5em;
    height: 1.25rem!important;
    width: 1.25rem!important;
  }
  .wrapper-indicator .up{
    top:-.25rem;
  }
  .wrapper-indicator .down{
    top:1rem;
  }

  .mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
  }
  mat-list-item { 
    margin: 16px;
  }
  button[mat-icon-button]{
    $large-size-button: 80px;
    $large-size-icon: 48px;
    
        &.icon-button-large {
          width: $large-size-button;
          height: $large-size-button;
          line-height: $large-size-button;
        .mat-icon {
          font-size: $large-size-icon;
          width: $large-size-icon;
          height: $large-size-icon;
          line-height: $large-size-icon;
        }
        .mat-button-ripple {
          font-size: inherit;
          width: inherit;
          height: inherit;
          line-height: inherit;
        }
      }
    }

  // hide number input arrows
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
//
