.optionsCont > div {
    margin: 16px;
}

.wrapper-indicator{
    position:relative;
    height:1.5rem;
    width:1.5rem;
    overflow:none;
  }
  .wrapper-indicator .up,.wrapper-indicator .down{
    position:absolute;
    right: 0;
    font-size:.5em;
    height: 1.25rem!important;
    width: 1.25rem!important;
  }
  .wrapper-indicator .up{
    top:-.25rem;
  }
  .wrapper-indicator .down{
    top:1rem;
  }
