<mat-card style="margin: 16px">
  <div>
    <mat-form-field *ngFor="let name of names; index as i; trackBy:trackByFn" style="margin: 8px">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="names[i]" (ngModelChange)="updateOptions()" type="text">
      <button *ngIf="names.length > 1" matSuffix mat-icon-button aria-label="Clear" (click)="removeName(i)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <button mat-button (click)="addInitName()">
      Add name
    </button>
  </div>
</mat-card>
<div *ngIf="!(namesWithInput && namesWithInput.length > 1)">
  <mat-card style="margin: 16px">
    <span style="color: red">Please enter a minimum of two names.</span>
  </mat-card>
</div>

<mat-card style="margin: 16px" *ngIf="namesWithInput && namesWithInput.length > 1">
  <mat-tab-group>
    <mat-tab label="Split into teams">
      <div style="margin-top:16px">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Number of teams</mat-label>
          <input matInput type="number" class="example-right-align" [(ngModel)]="numberOfTeams" (ngModelChange)="changeNumberOfTeams(false, $event)">
          <div matSuffix class="wrapper-indicator">
            <button class="up" mat-icon-button (click)="changeNumberOfTeams(true)">
              <mat-icon>expand_less</mat-icon>
            </button>
            <button class="down" mat-icon-button (click)="changeNumberOfTeams(false)">
              <mat-icon>expand_more</mat-icon>
            </button>
          </div>
        </mat-form-field>
      </div>
      <div *ngIf="namesWithInput && namesWithInput.length > 1">
        <mat-grid-list cols="2" rowHeight="100px">
          <mat-grid-tile *ngFor="let tilesPersonCount of tilesPersonCounts; index as i; trackBy:trackByFn">
            <div>
              <div style="text-align: center"><i *ngFor="let _ of [].constructor(tilesPersonCount)"
                  class="material-icons">person</i></div>
              <div>Team {{i + 1}}</div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div style="text-align: center;">
        <button mat-button class="submitBtn"
          (click)="generateTeams()">
          Generate teams
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Draw straws">
      <div>
        <plotly-plot *ngIf="graph" [data]="graph.data" [layout]="graph.layout" [config]="graph.config"></plotly-plot>
      </div>
      <div style="margin-top: 16px; text-align: center;">
        <button mat-button class="submitBtn"
          (click)="generateChart()">Draw straws</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>